<div class="title">
  <h2>Predict survivals on the Titanic</h2>
</div>

<div class="form">
  <form #userPost="ngForm" (ngSubmit)="onSubmit(userPost.value)">
    <label for="Pclass">Passenger class: [1 / 2 / 3]</label><br>
    <input type="text" id="Pclass" name="Pclass" ngModel><br>
    
    <label for="Sex">Gender:</label><br>
    <!-- <input type="text" id="Sex" name="Sex" ngModel><br> -->
    <select id="Sex" name="Sex" ngModel>
        <option value="1">Male</option>
        <option value="0">Female</option>
    </select><br><br>
    
    <label for="Age">Age: </label><br>
    <input type="text" id="Age" name="Age" ngModel><br>
    
    <label for="SibSp">Number of siblings / spouses aboard the Titanic:</label><br>
    <input type="text" id="SibSp" name="SibSp" ngModel><br>
    
    <label for="eParch">Number of parents / children aboard the Titanic:</label><br>
    <input type="text" id="eParch" name="eParch" ngModel><br>
    <div class="predict">
      <input class="predict2" type="submit" value="Predict" ngModel>
    </div>
  </form>
</div>

<div>
  <h2 class=""></h2>
<h2 class="Survived">{{apiResponse.prediction}}</h2>
</div>

<div>
  <p class="copyright"> &copy; AZOUZ Abdelali / CHAOUI Hamza </p>
</div>